# Print warnings for tests with inappropriate test size or timeout.
test --test_verbose_timeout_warnings

# Only build test targets when running bazel test //...
test --build_tests_only
test --test_output=errors
